
       
body {
    background-color: black; /* Color de fondo */
}

.noticia {
    margin-top: 50px;
    padding: 30px;
    background-color: #161815; /* Fondo blanco */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.noticia img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.noticia h2 {
    font-size: 28px;
    font-weight: bold;
    color: white; /* Color del texto */
    margin-bottom: 20px;
}

.noticia p {
    font-size: 18px;
    line-height: 1.6;
    color: white; /* Color del texto */
    margin-bottom: 20px;
}
