{% extends "app/base.html" %}

{% block titulo %} Lista de Revistas    {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a
            name=""
            id=""
            class="btn btn-success"
            href="{% url 'crear' %}"
            role="button"
            >Agregar nueva revista o suscripcion</a
        >
        
    </div>
    <div class="card-body">
        <h4 class="card-title">Suscripciones</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Imagen</th>
                        <th>Descripcion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>revistas de animales</td>
                        <td>imagen.jpg</td>
                        <td>revistas que hablan sobre animales que viven en el continente africano</td>
                        <td> Editar | Borrar </td>
                    </tr>
                    <tr class="">
                        <td scope="row">Item</td>
                        <td>Item</td>
                        <td>Item</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">Footer</div>
</div>


{% endblock %}
