<!DOCTYPE html>
<html lang="es">
<head>
    
    {% load static %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <img src="{% static 'imagenes/usuario.png' %}" alt="user-img">
        <label for="username">Usuario</label>
        <input type="text" id="username" name="username" placeholder="Ingresar nombre de usuario" required>
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="Ingresar la Contraseña" required>
        <div class="box-visible">
            <input type="checkbox" id="visible">
            <label for="visible">Mostrar Contraseña</label>
        </div>
        <button type="submit" id="submit">Iniciar Sesión</button>
        <a href="{% url 'register' %}" class="button-like">Crear Cuenta</a>
        <a href="{% url 'home' %}" class="button-like">Volver al Inicio</a>


    </form>
    <script>
        const $submit = document.getElementById("submit"),
            $password = document.getElementById("password"),
            $username = document.getElementById("username"),
            $visible = document.getElementById("visible"),
            $register = document.getElementById("register"),
            $back = document.getElementById("back");

        document.addEventListener("change", (e) => {
            if (e.target === $visible) {
                $password.type = $visible.checked ? "text" : "password";
            }
        });

        document.addEventListener("click", (e) => {
            if (e.target === $submit) {
                e.preventDefault();
                if (validateInput($username.value, $password.value)) {
                    loginUser($username.value, $password.value);
                }
            } else if (e.target === $register) {
                window.location.href = "{% url 'register' %}";
            } else if (e.target === $back) {
                window.location.href = "{% url 'home' %}";
            }
        });

        function validateInput(username, password) {
            if (username.length > 5 && password.length > 8) {
                return true;
            } else {
                alert("El nombre de usuario debe tener más de 5 caracteres y la contraseña más de 8 caracteres.");
                return false;
            }
        }

        function loginUser(username, password) {
            fetch("{% url 'login' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: JSON.stringify({ username: username, password: password })
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = "{% url 'home' %}";
                } else {
                    alert("Error al iniciar sesión. Por favor, verifica tus credenciales.");
                }
            })
            .catch(error => {
                console.error("Error:", error);
            });
        }
    </script>
</body>
</html>
